@font-face {
	font-family: 'Graphik LCG';
	src: url('fonts/GraphikLCG-Medium.woff2') format('woff2'),
		url('fonts/GraphikLCG-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-Regular.woff2') format('woff2'),
		url('fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		url('fonts/Gilroy-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-Medium.woff2') format('woff2'),
		url('fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gilroy', sans-serif;
}

.menu {
	background-image: url(../img/return.png);
	background-repeat: no-repeat;
	/*background-position: 50% 100%;
	background-size: 80%;*/
}

a {
	color: inherit;
	text-decoration: none;
}
.main-content{
	background-color: #222020;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.content {
	width: 500px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}
h1{
	color: white;
	font-family: 'Graphik LCG', sans-serif;
	margin-bottom: 60px;

}
.link-doc{
	padding: 20px;
	color: white;
	background-color: #2f1ce4;
	border: 3px solid;
	border-color: #2f1ce4;
}
.link-details{
	width: 240px;
	text-align: center;
	padding: 20px;
	color: white;
	background-color: transparent;
	border: 3px solid;
	border-color: #ffffff;
}
.container {
	width: 1170px;
	margin: 0 auto;
   padding: 30px 30px;
}
ul {
	list-style-type: none;
}
.headline-skillbox {
	margin-top: 100px;
	font-size: 48px;
	color: #222020;
}
.—Åourse-information {
	margin-top: 100px;
	padding-left: 100px;
	font-size: 48px;
	color: #222020;
}

h2 {
	margin-top: 100px;
	padding-left: 180px;
	padding-bottom: 25px;
	font-size: 36px;
	color: #2f1ce4;
}
.course {
	padding-left: 10px;
	margin-left: 200px;
	font-size: 18px;
}
.course-programm {
	background-color: #f9f9f9;
	padding-top: 50px;
	padding-bottom: 50px;
}
p {
   padding-left: 180px;
	padding-bottom: 20px;
}
figure {
	margin-left: 300px;
	padding-top: 50px;
	padding-bottom: 50px;
}
figcaption {
	padding-top: 20px;
	padding-left: 260px;
}
.img {
   max-width: 600px;
}
table {
	width: 1100px;
	border-collapse: collapse;
}

tr,td,th {
	padding: 5px;
	border: 1px solid black;
	border-color: #a0a0a0;
	font-size: 11pt;
}
